@if(!this.hide){
<div class="chat">
  @if(this.userService.correo !== undefined) {
  <div class="card">
    <div [class]="'card-header '+this.bg">Conversando</div>
    <div class="card-body" id="scroll">
      <ul class="chat-list" id="ul-chats">
        @for (item of this.listMessages; track $index) { @if (item.correo ===
        this.userService.correo) {
        <li class="out" [id]="'li-' + $index">
          <div class="chat-body">
            <div class="chat-message">
              <!-- <h5>{{ item.correo }}</h5> -->
              <p class="texto">{{ item.mensaje }}</p>
              <p class="p-fecha">{{ this.convertirFecha(item.fecha) }}</p>
            </div>
          </div>
        </li>
        } @else {
        <li class="in" [id]="'li-' + $index">
          <div class="chat-body">
            <div class="chat-message">
              <h5>{{ item.correo }}</h5>
              <p class="texto">{{ item.mensaje }}</p>
              <p class="p-fecha">{{ this.convertirFecha(item.fecha) }}</p>
            </div>
          </div>
        </li>
        } }
      </ul>
    </div>
    <div class="cont-input">
      <input
        type="text"
        class="input-send"
        [(ngModel)]="value"
        placeholder="Escribe un mensaje..."
      />
      <button (click)="enviarMsj()" [class]="'btn '+this.bg">
        <i class="fa-solid fa-paper-plane"></i>
      </button>
    </div>
  </div>

  }
</div>
}
